@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    margin: auto;
    padding: 0;
    background-color: #FEF4DE;
    color: #7C4032;
    max-width: 1930px;
}

#botaomain{
    position: relative;
    top : 550px;
    left: -4100px;

}

.urso01 {

    display: flex;
    background-image: url(ImagensFrontEnd/FundoBearBears.png);
    width: 100vw;
    height: 60vw;

}

#titulo{
    position: absolute;
    width: 800px;
    height: 175px;
    left: 160px;
    top: 250px;
    color: #663128;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 70.5%;

    display: flex;
    align-items: center;
}

span{

    left: 10px;
    font-family: 'poppins';
    font-weight: 700;
    font-size: 58px;
    line-height: 58.29px;
    word-spacing: 10px;
    letter-spacing: 25px
}

#Lorem{
    font-family: 'poppins';
    position: absolute;
    width: 552px;
    height: 72px;
    left: 180px;
    top: 410px;
}

#About{

    position: absolute;
width: 82px;
height: 24px;
left: 512px;
top: 549px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
}
#Imagemprincipal{

    position: relative;
    Height: 481.17px;
    Top: 170px;
    Left: 850px;
}

#bordacima{
    position: relative;
    bottom:25px;
    Right: 853px;
}
#bordabaixo{

    position: relative;
    right: 2770px;
    top: 575px;
    
    }


.servicos{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7C4032;
    width: 100vw;
    height: 70vw;
}

#trabalhos{
    position: relative;
    top: -60px;
}

#tituloServicos{
    position: relative;
    font-family: 'poppins';
    font-style: normal;
    color:#FFFFFF;
    top: -40px;
    font-weight: 900;
    font-size: 64px;
    line-height: 96px;
}


input[type=submit]{
    position: relative;
    color: #663128;
    background-color: #F3CE5E;
    font-size: large;
    font-weight: bold;
    border-color: #F3CE5E;
    border-radius: 57px;
    height: 70px;
    width: 210px;
}

#botaoo{
    position: relative;
    top : 60px;
}


#botao{

    display: flex;
    justify-content:flex-start;
    position: relative;
    top: 540px;
}

.testy{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(ImagensFrontEnd/FundoBearBears.png);
    width: 100vw;
    height: 60vw;
}

#tituloTesty{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 96px;
}


#rectangle01 {
    box-sizing: border-box;

    position: absolute;
    width: 512px;
    height: 192px;
    left: 240px;
    top: 2221px;

    background: #FFFFFF;
    border: 1px solid #7C4032;
    border-radius: 30px;
  }

#rectangle02 {

    box-sizing: border-box;

    position: absolute;
    width: 512px;
    height: 192px;
    right: 190px;
    top: 2221px;
    
    background: #FFFFFF;
    border: 1px solid #7C4032;
    border-radius: 30px;

}


#rectangle03 {

    box-sizing: border-box;

    position: absolute;
    width: 512px;
    height: 192px;
    left: 240px;
    top: 2455px;
    
    background: #FFFFFF;
    border: 1px solid #7C4032;
    border-radius: 30px;

}

#rectangle04 {

    box-sizing: border-box;

    position: absolute;
    width: 512px;
    height: 192px;
    right: 190px;
    top: 2455px;
    
    background: #FFFFFF;
    border: 1px solid #7C4032;
    border-radius: 30px;

}


.contactus{
    background-color: #FFFFFF;
    width: 100vw;
    height: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tituloContactus{

    position:relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 96px;
    top:-250px;

}

#retangulos{

    display: flex;

}

#retangulo01{



    position: absolute;
    width: 374px;
    height: 56px;
    left: 358px;
    top: 3200px;

    background: #E6AF99;
    border-radius: 61px;

}

#retangulo02{

    position: absolute;
    width: 374px;
    height: 56px;
    left: 358px;
    top: 3270px;

    background: #E6AF99;
    border-radius: 61px;
}

#retangulo03{

   

    position: absolute;
    width: 374px;
    height: 56px;
    left: 358px;
    top: 3340px;

    background: #E6AF99;
    border-radius: 61px;
}


input[type=button]{

    position: relative;
    color: #7C4032;
    background-color: #ffffff;
    font-size: large;
    font-weight: bold;
    border-color: #663128;
    border-radius: 57px;
    height: 60px;
    width: 180px;
    top:-5px;
    right:230px;

}

#botao2{

    display: flex;

}

#telefone{

    position: relative;
    Width: 10px;
    top: -200px;
    Left: 102px;
}

#maps{
    position: relative;
    Width: 10px;
    top: -160px;
    Left: 102px;
}

#carta{
    position: relative;
    Width: 10px;
    top: -305px;
    Left: 102px;
}

#frase1{

    font-family: 'poppins';
    position: absolute;
    width: 103px;
    height: 17px;
    left: 50px;
    top: -76px;
    color: #333333;
}

#frase2{

    font-family: 'poppins';
    position: absolute;
    width: 103px;
    height: 50px;
    left: 50px;
    top: -80px;
    color: #333333;
}

#frase3{

    font-family: 'poppins';
    position: absolute;
    width: 103px;
    height: 50px;
    left: 50px;
    top: 100px;
    color: #333333;
}

footer{

    color:#55352D;
    position: absolute;
    width: 1537px;
    height: 140px;
    top: 4100px;

    background: #55352D;

}